
<div ui-content-for="title">
  <span>Dlists</span>
</div>

<div class="scrollable">
  <div class="scrollable-content section">
    <legend>Add New DList</legend>
    <div id="AddItem" class="form-group">
     <input value="" type="text" placeholder="Name of Dlist" ng-model="vm.newDlistName" class="form-control" >
  <button class="btn btn-default" ng-click="vm.addItem()">Add to list</button>
    </div>
     <ul class="list-group">
    <li class="list-group-item" ng-repeat="dlist in vm.org.distribution_list" >{{dlist.list_name}} <span class="badge">{{dlist.subscribers_number}}</span></li>

  </ul>

   <p>&nbsp;</p>
  <p><a href="#/login" class="btn btn-primary">Logout</a></p>
</div>
</div> 


 


 