<!doctype html>
<html ng-app="tfoApp">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->
    <title>TFO</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="css/bootstrap.min.css"><!-- load bootstrap -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"><!-- load bootstrap -->

    
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #todo-list              { margin-bottom:30px; }
    </style>

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<body ng-controller="mainController">
    <div class="container">

        <!-- HEADER AND TODO COUNT -->
        <div class="jumbotron text-center">
            <h1>Welcome <span class="label label-info"></span></h1>
        </div>

        <!-- TODO LIST -->
        <div id="org-list" class="row">
            <div class="col-sm-4 col-sm-offset-4">

                <!-- LOOP OVER THE TODOS IN $scope.todos -->
                <div class="checkbox" ng-repeat="org in orgs">
                    <label>
                        <input type="checkbox" ng-click="deleteTodo(todo._id)"> {{ org.name }}
                    </label>
                </div>

            </div>
        </div>

        <!-- FORM TO CREATE TODOS -->
        <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="I want to buy a puppy that will love me forever" ng-model="formData.text">
                    </div>

                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
                </form>
            </div>
        </div>

    </div>


    <!-- SPELLS -->
    <script src="js/jquery-3.1.0.min.js"></script><!-- load jquery -->
    <script src="js/bootstrap.min.js"></script><!-- load bootstrap -->
    <script src="js/angular.min.js"></script><!-- load angular -->
    <script src="js/core.js"></script>

</body>
</html>